*{margin:0;padding:0;text-decoration:none;list-style:none;}
body{background:url(../images/body.jpg) no-repeat top ,url(../images/ft.jpg) no-repeat bottom;background-color:#282828;z-index:1;}
#container{position:relative;}


#top{height:40px;color:#e5e5e5;background:url(../images/toptb.gif);}


#nav_bg{background:url(../images/nv_bg.jpg);height:80px;width:100%;z-index:9;position:relative;}
#nav{width:1000px;height:81px;margin:0 auto;}
.nav_logo{width:240px;height:80px;float:left;}
.nav_logo h2{}
.nav_logo h2 img{margin:10px;}

.nav_list{width:670px;height:80px;float:left;}
.nav_list ul {font:12px/1.5 'Microsoft Yahei',arial,helvetica,sans-serif;}
.nav_list ul li{float:right;width:58px;height:75px;cursor:pointer;text-align:center;padding:5px 10px 0;}
.nav_list ul li a{color:#fff;font-size:16px;width:37px;height:30px;line-height:30px;}
.nav_list ul li span{font-size:12px;width:37px;height:20px;line-height:20px;}
.nav_list ul .on{color:#56c3ff;background:rgba(0,0,0,0.4);}
.nav_list ul li.on a{color:#56c3ff !important;}//使用class改变a标签的颜色

.nav_search{width:90px;height:80px;position:relative;}
.nav_search a{width:48px;height:48px;display:block;line-height:80px;padding:16px 21px;float:left;}
.nav_search .search_box{width:237px;height:35px;background-color:#fff;float:right;padding:5px 7px 0;}
.nav_search .search_box #search_box_input{float:left;width:200px;height:28;line-height:28px;border:1px solid #e5e5e5;outline:none;}
.nav_search .search_box .search_img{float:left;margin-left:5px;cursor:pointer;}


#main{width:1000px;height:401px;margin:1px auto 0;position:relative;}
#main #img_box{width;960px;height:400px;overflow:hidden;position:absolute;z-index:5;margin:0 20px;box-shadow:2px 2px 2px #282828;border-radius:5px;}
#main #img_box ul {}
#main #img_box ul li{float:left;}

#main #button{width:960px;height:15px;z-index:9;position:absolute;bottom:10px;}
#main #button ul{width:125px;height:15px;margin:0 auto;}
#main #button ul li{width:15px;height:15px;line-height:15px;text-align:center;border-radius:15px;background-color:#282828;margin:0 5px;float:left;color:#282828;}
#main #button ul .hover{background-color:#d9635f;color:#d9635f;}

#box{width:1000px;height:252px;z-index:9;position:relative;margin:2px auto 0;}
#box .box_main{width:960px;height:250px;position:absolute;margin:0 20px;border-radius:5px;}
#box .box_main .box_left{width:310px;height:250px;background-color:#d9635f;float:left;margin:0 15px 0 0 ;border-radius:5px;}
#box .box_main .box_left .box_left_head{width:310px;height:39px;line-height:39px;background-color:#063053;border-bottom:1px solid #fff;border-top-left-radius:5px;border-top-right-radius:5px;
										background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, #063053), color-stop(0.66, #395873), color-stop(0.83, #5c7c99));
										}
#box .box_main .box_left .box_left_head h3{float:left;width:70%;height:40px;line-height:40px;text-indent:10px;font-family:"华文新魏";}
#box .box_main .box_left .box_left_head a{color:#000;}
#box .box_main .box_left .box_left_head em{float:right;width:30%;height:40px;line-height:40px;text-indent:10px;}
#box .box_main .box_left .box_left_main{}
#box .box_main .box_left .box_left_main li{width:305px;height:95px;padding:0 0  10px 5px;box-shadow:2px 2px 2px #fff;}
#box .box_main .box_left .box_left_main li img{float:left;width:80px;height:80px;margin:8px 0 7px;}
#box .box_main .box_left .box_left_main li span{height:20px;line-height:20px;float:left;margin:5px 0 0 10px;font-size:16px;font-family:"华文新魏";}

#box .box_main .box_middle{width:310px;height:250px;background-color:rgba(0,0,0,0.7);float:left;border-radius:5px;}
#box .box_main .box_middle .box_img{width:310px;height:250px;overflow:hidden;position:relative;}
#box .box_main .box_middle .box_img ul{width:310px;height:250px;}
#box .box_main .box_middle .box_img ul li{width:310px;height:250px;}


#box .box_main .box_middle .box_img .pre{width:30px;height:50px;background-image:url(../images/left.png);position:absolute;top:100px;left:5px;
										cursor:pointer;display:none;}
#box .box_main .box_middle .box_img .next{width:30px;height:50px;background-image:url(../images/right.png);position:absolute;top:100px;right:5px;
										cursor:pointer;display:none;}
#box .box_main .box_middle .box_img .pre:hover,#box .box_main .box_middle .box_img .next:hover{background-color:rgba(0,0,0,0.4);}



#box .box_main .box_right{width:310px;height:250px;background-color:#d9635f;float:right;border-radius:5px;}
#box .box_main .box_right .box_left_head h3{float:left;width:70%;height:25px;line-height:25px;text-indent:10px;}
#box .box_main .box_right .box_left_head a{color:#000;}
#box .box_main .box_right .box_left_head em{float:right;width:30%;height:25px;line-height:25px;text-indent:10px;}



#bottom{width:1000px;height:314px;margin:0 auto;margin-top:3px;padding-top:5px;border-top:2px solid #000;}
#bottom .focus{width:300px;height:56px;margin:0 auto;}
#bottom .focus .focus_img{float:left;width:54px;height:56px;}
#bottom .focus ul li{float:left;border:none;width:54px;height:54px;border-radius:27px;background-color:#cbc6c6;display:block;margin:0 14px;}
#bottom .focus ul li:hover{background-color:#d9635f;}
#weixin_img{position:absolute;margin:-265px -109px 0 -60px;z-index:999;display:none;}
#weixin:hover #weixin_img{display:block;}

#bottom .link{width:578px;height:253px;margin:0 auto;}
#bottom .link .link_img{width:54px;height:56px;float:left;}
#bottom .link ul{width:524px;float:left;height:85px;}
#bottom .link ul li{width:121px;height:75px;float:left;margin:5px 5px;}

#up{width:50px;height:50px;position:fixed;bottom:50px;right:20px;z-index:999;}
#up li{width:50px;height:50px;background-color:#d9635f;border-radius:25px;cursor:pointer;}

#up li:hover {background-color:#66ffff;}
#up li img{padding:17px 11px;}

